.selection-card {
    display: flex; flex-direction: column; align-items: center;
}
.selection-card:hover {
    transform: translateY(-0.5rem);
    transition: transform 0.2s ease-in-out;
}
.selection-card {
    transition: transform 0.2s ease-in-out;
}
#music-control {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    cursor: pointer;
}
#music-controller-div {
    background-color: rgba(255, 255, 255, 0.441); border-radius: 10px; width:2.5rem;height:2.5rem;padding:0.8rem;

}
#music-controller-div:hover {
    transform: translateY(-0.5rem);
    transition: transform 0.2s ease-in-out;
}
#music-controller-div {
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.modal-container {
    display: none;  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-card  {
    background-color: #ffde00;
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 0.2rem solid #3b4cca;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: 	#ff0000;
    padding: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.blue-white-header {
    margin-bottom: 2rem; color: #3b4cca; text-shadow: 1px 1px #fff;
}
#battle-container {
    display: flex;flex-direction: row;align-items: center;justify-content: center;gap:2rem
}
#battle-wrapper {
    position: relative;
    width: 60rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#battle-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#battle-arena {
    position: relative;
    z-index: 1;
}

.player-card {
    font-size: 1.5rem;
    margin-top: 1rem;
    height: 80%;
    padding: 2rem;
    background-color: antiquewhite;
    border-radius: 10px;
    flex-direction: column; 
    display: flex; 
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.aw-card {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#battle-log {
    width: 40%; 
    height: 14rem; 
    background-color: antiquewhite; 
    border-radius: 10px; 
    padding-inline: 1rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-family: 'Pixelify Sans', sans-serif;
}
#chat-log {
    width: 40%; 
    height: 14rem; 
    background-color: antiquewhite; 
    border-radius: 10px; 
    padding-inline: 1rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-family: 'Pixelify Sans', sans-serif;
}
#battle-controls {
    height:auto; 
    padding:0.5rem;
    background-color: antiquewhite; 
    border-radius: 10px; 
    padding-inline: 1rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-family: 'Pixelify Sans', sans-serif;
}
#battle-accessories {
    display: flex; 
    flex-direction: row; 
    width:70%;
    gap: 2rem;
}
#logout-button {
    background: transparent;
    color: white;
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
    padding: 0.5rem;
}
#logout-button:hover {
    background-color: #3b4ccaf3;
    transition: background-color 0.2s ease;
}
#battle-sim {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap:1rem;
    height:100vh; 
    margin-top: 2rem;
}
.attack-button {
    background-color: transparent;
    color: #3b4cca;
    font-family: Pixelify Sans, sans-serif;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: fit-content ;
    transition: transform 0.2s ease-in-out;

}
.attack-button:hover {
    transform: translateY(-0.2rem);
    transition: transform 0.2s ease,
}

#turn-display {
    font-size: 1.5rem;
    font-family: 'Pixelify Sans', sans-serif;
}
.character-selection-image {
    width:auto; 
    height: 7rem; 
}
#pokemon-starter-selection {
    flex-direction: row; display: flex; gap:4rem; justify-content: center; align-items: center;
}
#pokemon-team-container {
    display:flex;flex-wrap: wrap;gap:1rem; max-width: 35rem; justify-content: center;
}
.vc-div-contents {
    display: flex; flex-direction: column; align-items: center;
}
#pokemon-ismain {
    margin-top: 1rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 10px;
}
.click-to-add {
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.click-to-add:hover {
    background-color: #f7f7f7f3;
    transition: background-color 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#chat-input {
    height: 1.5rem; 
    border-radius: 8px; 
    padding: 0.3rem; 
    font-family: 'Pixelify Sans', sans-serif; 
    font-size: 0.9rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    margin-bottom: 0.8rem;
}
.attack-subtext {
    font-size: 1rem;
    color: #000000;
    font-family: 'Pixelify Sans', sans-serif;
    margin-top: 0.5rem;
}